.load {
    opacity: 0;
  }
  
@keyframes fromLeft {
    from {
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    }
    to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    }
}

@keyframes fromRight {
    from {
    opacity: 0; 
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    }
    to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    }
}

@keyframes fromBottom {
    from {
    opacity:0;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    }
    to {
    opacity:1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    }
}

@keyframes fromTop {
    from {
    opacity: 0;
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    }
    to {
    opacity:1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    }
}
