@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Raleway:wght@500&display=swap');
@import "./variables";
@import "./general";
@import "./footer";
@import "./animations";
@import "./company";
@import "./navbar";
@import "./gallery";
@import "./load";
@import "./shop";
@import "./contact";


@include media-breakpoint-down(md) {
  .mobileHide {
    display:none;
  }

  .footer__content-border {
    border:none;
  }
}
@include media-breakpoint-up(lg){
  .desktopHide {
    display:none;
  }
}

@include media-breakpoint-down(md)
{
    .company {
        height: 90vh;
        min-height: 650px;
        &__content {
            display: flex;
            flex-direction: column;
        }

        &__logo_container {
            height: 15vh;
            min-height: 120px;
            
        }

        &__type {
            height: 50%;
            width: 100%;
            padding: 10px 0;
            position: relative;
        }

        &__name {
            font-size: 1.3rem;
            padding-bottom: 15px;
            position: absolute;
            top: 50%;
            z-index: 2;
            font-family: 'Arima Madurai', cursive;
            color: black;
            padding: 0;
            
        }

        &__img {
            height: 100%;
            width: 100%;
            box-shadow: none;
            opacity: 0.6;
        }
    }
}

@include media-breakpoint-down(lg) {
  .nav__collapse.hide, .nav__collapse.hide a {
    display:none;
  }
  
}
@include media-breakpoint-up(lg) {
  .nav__collapse.hide, .nav__collapse.hide a {
    display:block;
  }
  
}










